@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@100;200;300;400;500;600;700&display=swap);

body{
    font-family: 'Roboto', 'lato', sans-serif;
    margin: 0;
}

header{
    background-color: #fbf0f4;
    padding: 10px 0 38px 0;
}

.container{
    width: 1120px;
    margin: 0 auto;
}

header .menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    margin-left: 40px;
}

header ul li a{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #150101;

    opacity: 0.6;
    text-decoration: none;
    transition: all .3s linear;
}

header ul li a:hover{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
    opacity: 1;
}

.all-btn{
    width: 165px;
    height: 49px;
    background: #D23166;
    border-radius: 5px;
    border: none;
    color: #fafafa;
    font-weight: 600;
    line-height: 22px;
    font-family: 'HindMadurai', 'lato' , sans-serif;
    cursor: pointer;
}

header .main-section{
    display: flex;
    width: 100%;
}

.main-section .left-side{
    padding-top: 144px;
    width: 60%;
}

.main-section .left-side .title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.main-section .left-side .main-text{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    margin-top: 6px;
}

.main-section .left-side .main-text span{
    color: #D23166;
}

.main-section .left-side .commit{
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;   
    margin-top: 35px;
    padding-right: 110px;
    margin-bottom: 50px;
}

header .main-section .right-side{
    width: 40%;
}

header .main-section .right-side img{
    width: 100%;
}

.section-one{
    padding: 100px 0 110px 0;
    background-color: white;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-one .d-flex .card{
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.007);
    border-radius: 7px;
    transition: all .5s ease;
    padding: 35px 26px 27px 26px;
    text-align: center;
}

.section-one .d-flex .card:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.11);
}

.section-one .card .card-title{
    margin-top: 25px;
    margin-bottom: 9px;
    font-family: 'Hind Madurai', 'lato', sans-serif;
    font-style: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.section-one .card .card-commit{
    font-family: 'Hind Madurai', 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;

}

.section-two{
    padding: 47px 0 33px 0;
    background-color: #fbf0f4;
}

.section-two .left-side{
    padding-top: 93px;
    width: 50%;
}

.section-two .left-side .title{
    font-family: 'Hind Madurai', 'lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}

.section-two .left-side .commit{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-top: 16px;
    margin-bottom: 35px; 
}

.section-two .right-side{
    width: 50%;
}

.section-two .right-side img {
    width: 100%;
}

.section-three{
    padding-top: 137px;
    padding-bottom: 149px;
    background-color: white;
}

.section-three-title{
    font-family: 'Hind Madurai', 'lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
}

hr{
    width: 100px;
    border: 1.5px solid #D23166;
    margin-bottom: 20px;
    text-align: center;
}

.section-three .main-menu{
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.section-three .main-menu li{
    list-style: none;
}

.section-three .main-menu li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    padding-bottom: 10px;

}

.section-three .main-menu li:hover{
    color: black;
    opacity: 1;
}

.section-three .main-menu li::after{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color:#D64374;
    transition: .5s linear;
}

.section-three .main-menu li:hover:after{
    content: '';
    width: 100%;
}

.section-three .brown-bread{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

.section-three .brown-bread .left-side{
    width: 50%;
}

.section-three .brown-bread .right-side{
    padding-top: 78px;
    margin-left: 85px;
}

.section-three .right-side .title{
    font-family: 'Hind Madurai', 'lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 11px;
}

.section-three .right-side .commit{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 28px;
}

.section-three .right-side .price{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 16px;
}

.section-three .right-side .price del{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-left: 5px;
    opacity: 0.7;
}

.section-three .cayenne-chocolate .right-side,
.section-three .person-commit .right-side{
    margin-left: 0;
}

.section-three .person-commit .right-side .person{
    display: flex;
}

.person .person-info{
    margin-left: 21px;
    padding-top: 2px;
}

.person .person-info .person-name{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.person .person-info .country{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}

.person-img img{
    width: 59px;
    height: 58px;
}

.section-three .person-commit .text{
    margin-top: 46px;
    margin-bottom: 56px;
    display: flex;
}

.section-three .text div:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    margin-left: 12px;
}

.me{
    width: 57.81px;
    height: 57.81px;
    margin: 0 16px;
}

.border{
    border-radius: 50%;
    position: relative;
    bottom: 12px
}

.section-three .right-side{
    position: relative;
    top: 15px;
}

.section-three .right-side .carousel{
    display: flex;
    align-items: center;
    transform: translate(0%,-50%);
}

.section-three .right-side .carousel .gallery{
    margin: 0 30px;
}

.section-three .carousel .next-icon,
.section-three .carousel .prev-icon{
    cursor: pointer;
}

.section-four{
    background-color: #f8edf0;
}

.section-four .d-flex{
    width: 100%;
    display: flex;
}

.section-four .left-side{
    width: 35%;;
}

.section-four .left-side img{
    position: relative;
    top: 42px;
    border-radius: 30px;
    
}

.section-four .right-side{
    width: 60%;
    position: relative;
    bottom: 60px;
}

.section-four .right-side .title{
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.section-four .right-side .commit{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 55px;
}

.order{
    margin-bottom: 40px;
}

.order .main{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.order .main div:nth-child(1){
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.order .main div:nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.order .main img{
    width: 50%;
}

.row{
    display: flex;
    width: 55%;
    align-items: center;
}

.playMarket{
    width: 260px;
    height: 77px;
}

.section-five{
    padding: 190px 0 130px 0;
}

.section-five .title{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.section-five .d-flex{
    display: flex;
    width: 55%;
    margin: 28px auto 0 auto;
}

.section-five input{
    height: 64px;
    width: 503px;
    background-color: #fafafa;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    outline: none;
    transition: all .4s ease;
}

.section-five input:focus{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.103);
}

.section-five input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}

.send-btn{
    width: 134px;
    height: 64px;
    background: #D64374;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

footer{
    padding: 70px 0 104px 0;
    background-color: #0A0808;
    color: white;
}

footer .container .d-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .first-col{
    width: 207px;
}

.first-col .text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.01em;
    opacity: 0.7;
    margin-top: 9px;
    margin-bottom: 25px;
}

.first-col .follow{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 8px;
}

.first-col .social img{
    margin-right: 10px;
    border-radius: 2px;
}

.second-col{
    padding-top: 73px;
    margin-left: 37px;
}

.second-col a,
.third-col a{
    font-size: 15px;
    line-height: 14px;
    color: #fff;
    opacity: .7;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: .5s ease;
}

.second-col a:hover,
.third-col a:hover{
    opacity: 1;
}

.third-col{
    padding-top: 80px;
    margin-left: 132px;
}

.four-col{
    padding-top: 86px;
    position: relative;
    left: 86px; 
}

.four-col .title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.four-col .search-btn{
    margin-top: 13px;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

.four-col input{
    width: 388px;
    height: 55px;
    opacity: 0.5;
    border: 2px solid #D64374;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-left: 32px;
    box-sizing: border-box;
}

.four-col .search-btn button{
    background-color: #D23166;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 125px;
    height: 55px;
    border: none;
    color: white;
    position: relative;
    right: 100px;
}